<!DOCTYPE html>
<html>
    <head>
    <title>Victor's Weight Tracker</title>
    </head>
    <body>
        <h2>Victor's Weight Tracker</h2>
        <form action="/submitWeight" method="POST">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" placeholder="Name"><br>
            <label for="weight"> Weight:</label><br>
            <input type="text" id="weight" name="weight" placeholder="Weight"><br><br>
            <label for="date">Date:</label><br>
            <input type="date" id="date" name="date"><br><br>
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>
